{% block header %}
    <div class="header">
		<header>
			<div class="wrapper">
				<div class="logo">
					<a href="/" class="hvr-underline"> Redaction d'Articles </a>
				</div>

				<nav>
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('security_registration') }}" class="hvr-underline"> Inscription </a>
						<a href="{{ path('admin_utilisateurs') }}" class="hvr-underline"> Utilisateurs </a>
					{% endif %}
					<a href="{{ path('articles') }}" class="hvr-underline"> Articles </a>
					<a href="{{ path('insert') }}" class="hvr-underline"> Créer </a>
					<a href="{{ path('liste_articles') }}" class="hvr-underline"> Gérer </a>
					{% if not app.user %}
						<a href="{{ path('security_login') }}" class="hvr-underline"> Connexion </a>
					{% else %}
						<a href="{{ path('security_logout') }}" class="hvr-underline"> Déconnexion </a>
					{% endif %}
					
				</nav>
			</div>
		</header>
    </div>
{% endblock %}