{% extends 'base.html.twig' %}

{% block title %}Les différents Utilisateurs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/article/liste/nosArticles.css') }}">
{% endblock %}

{% block body %}
    <section>

        <video autoplay loop poster="video.jpg" id="videofond">
            <source src="images/video.mp4" type="video/mp4">
        </video>

        <h1 id="titre">Voici les Différents Utilisateurs de notre Site</h1> <br>

        <table>
            <thead>
                <th>ID</th>
                <th>Email</th>
                <th>Rôles</th>
                <th>Nom</th>
                <th>Username</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% for role in user.roles %}
                                {% if role == "ROLE_ADMIN" %}
                                    Administrateur
                                {% elseif role == "ROLE_MODO" %}
                                    Modérateur
                                {% elseif role == "ROLE_ADMIN" %}
                                    Utilisateur
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.username }}</td>
                        <td><a href="{{ path('admin_modifier_utilisateur', {'id': user.id}) }}">Modifier</a></td>
                        <td><a href="{{ path('admin_delete_user', {'id': user.id}) }}">Supprimer</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6"> Il n'y a pas d'Utilisateurs inscrit</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}