{% extends 'base.html.twig' %}

{% block title %}Nos différents Articles{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/article/liste/nosArticles.css') }}">
{% endblock %}

{% block body %}
    <section>
        <h1 id="titre">Voici nos Différents Articles</h1> <br>

        {% for article in articles %}
            
            <div class="box">
                <div class="titreArticle"><h2>{{article.title}}</h2></div>
                <div class="date">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }}</div>

                {% if article.updatedAt != NULL %}
                    <div class="date">Modifié le {{ article.updatedAt | date('d/m/Y') }} à {{ article.updatedAt | date('H:i') }}</div>
                {% endif %}

                <div class="content"><p>{{ article.content | raw}}</p></div>

                <button id="myBtn{{article.id}}">Open Modal</button>
                <div id="myModal{{article.id}}" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>Some text in the Modal..</p>
                </div>
                </div>

                <article id="articles" data-id="{{article.id}}"></article>

            </div>
        
        {% endfor %}

        <div class="pagination"> {{ knp_pagination_render(articles) }}  </div>

    </section>
{% endblock %}

                {% block javascripts %}
                    <script type="text/javascript">
                        const article = document.querySelector('#articles');
                        var modal = document.getElementById("myModal" + article.dataset.id);
                        var btn = document.getElementById("myBtn" + article.dataset.id);
                        var span = document.getElementsByClassName("close")[0];
                        btn.onclick = function() {
                            modal.style.display = "block";
                        }
                        span.onclick = function() {
                            modal.style.display = "none";
                        }
                        window.onclick = function(event) {
                            if (event.target == modal) {
                                modal.style.display = "none";
                        }
                        } 
                    </script>
                {% endblock %}