{% extends 'base.html.twig' %}

{% block title %}Nos différents Articles{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/article/liste/nosArticles.css') }}">
{% endblock %}

{% block body %}
    <section>
        <h1 id="titre">Voici nos Différents Articles</h1> <br>

        {% for article in articles %}
            
            <div class="box">
                <div class="titreArticle"><h2>{{article.title}}</h2></div>
                <div class="date">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }}</div>

                {% if article.updatedAt != NULL %}
                    <div class="date">et Modifié le {{ article.updatedAt | date('d/m/Y') }} à {{ article.updatedAt | date('H:i') }}</div>
                {% endif %} <br>

                <button onclick="testmodal({{article.id}})" class="btnarticle" id="my-btn-{{article.id}}">Open Modal</button>
                <div id="my-modal-{{article.id}}" class="modal">
                <div class="modal-content">
                    <span onclick="fermermodal({{article.id}})" class="close">&times;</span>
                    <h1 class="modal-header">{{article.title}}</h2>
                    <div class="modal-body"><p>{{ article.content | raw}}</p></div>
                    <img class ="miniaturemodal" src="{{ article.srcImage }}"/>

                    <div class="bas">
                        <div class="modal-footer">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }}</div>
                        {% if article.updatedAt != NULL %}
                        <div class="modal-footer"> et Modifié le {{ article.updatedAt | date('d/m/Y') }} à {{ article.updatedAt | date('H:i') }}</div>
                        {% endif %}
                    </div>
                </div>
                </div>

            </div>
        
        {% endfor %}

        <div class="pagination"> {{ knp_pagination_render(articles) }}  </div>

    </section>
{% endblock %}

                {% block javascripts %}
                <script
                src="https://code.jquery.com/jquery-3.5.1.min.js"
                integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
                crossorigin="anonymous">
                </script>
                    <script type="text/javascript">
                        function testmodal(id){
                            console.log(id);
                        
                        var modal = document.getElementById("my-modal-" + id);
                        var btn = document.getElementById("my-btn-" + id);
                        var span = document.getElementsByClassName("close")[0];

                        modal.style.display = "block";

                        window.onclick = function(event) {
                            if (event.target == modal) {
                                modal.style.display = "none";
                        }
                        }
                        }
                        
                        function fermermodal(id) {
                            var modal2 = document.getElementsByClassName("modal")[id-1];
                            modal2.style.display = "none";
                        }

                    </script>
                {% endblock %}





