{% extends 'base.html.twig' %}

{% block title %}Gérer les Articles{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/article/gerer/gererArticles.css') }}">
{% endblock %}

{% block body %}
    <section>
        <h1 id="titre">Gérer les Articles</h1> <br>

        {% for article in articles %}
            <div class="box">
                <div class="titreArticle"><p>{{ article.title }}</p></div>
                <div class="date">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }}</div>

                {% if article.updatedAt != NULL %}
                    <div class="date">et modifié le {{ article.updatedAt | date('d/m/Y') }} à {{ article.updatedAt | date('H:i') }}</div>
                {% endif %}
<br>
                <div class="modifBouton"><a class="bouton" href="{{ path('update', {'id': article.id}) }}">Modifier</a> </div>
                <div class="supprBouton"><a class="bouton" href="{{ path('delete', {'id': article.id}) }}">Supprimer</a> </div>
                <div class="exportBouton"><a class="bouton" href="{{ path('exportationXML', {'id': article.id}) }}">Exporter</a> </div>
            </div>
        {% endfor %}
    </section>
    <div class="pagination"> {{ knp_pagination_render(articles) }} </div>
{% endblock %}